body {
    overflow: hidden;
}

.bird {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.hit {
    background: red !important
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    width: 120px;
    height: 80px;
    border-radius: 10px;
    background: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    margin: 10px;
    padding: 20px;
}

.hunter {
    position: fixed;
    bottom: 0;
    right: 300px;
    height: 70px;
    width: 250px;
    background: brown;

}